body{
    margin: 0;
    height: 100%; 
}
.header{
    padding: 15px 0;
    background-color: #ffffff;

}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.log-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
} 
.log-content-img{
    border: s0px solid #42515f ;
}

.emp-text {
    font: normal normal bold 20px/25px Monteserrat;
    font-family: "Monteserrat" sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
    font-size: 30px;
}

.emp-payroll {
    color: #42515f;
}
*{box-sizing: border-box;}

.form-content {
    min-height: calc(100%-80%);
    background-color: #d6e1d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    padding-bottom: 10px;
}

.form {
    width: 65%;
    padding:44px 60px;
    background: #e8eae3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border:1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;

}

.form-head {
    font: normal normal bold 28px/40px Roboto;
    letter-spacing: 0px;
    color: #cd2849;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 180px;
}

label {
    padding: 12px 12px 12px;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    Opacity:1;
    font-family:normal normal normal 16px Roboto;
}

.input {
    width:70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical; 
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    
}

.profile-radio-content>label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width:40px;
    border-radius: 50%;
    margin-left: 8px;
}

.select {
    padding: 12px;
    border: 1px solid rgb(121, 119, 119);
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.buttonParent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    border-radius: 10px;
    cursor:  #7d5454;
}

.submitButton {
    border: none;
    background-color:white;
    margin-right: 150px ;
}

.cancelButton {
    border: none;
    background-color: wheat;
    text-decoration: none;
    text-align: center;
}

@media only screen and(max-width:960px) {
    .cancelButton {
        margin-left: 0px;
    }

    .from {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width:600px) {
    .from {
        margin-top: 10px;
    }

    .row {
        flex-direction: column;
    }

    .uploadButton {
        justify-content: flex-start;
    }

    .profile-radio-button {
        flex-flow: wrap;
    }

    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .submitButton {
        margin: 0;
    }

    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
   
}
.error-output{
    margin-left: 15px;
    font-size: 15px;
    font-style: italic;
    color: red;
}